@import "./custom/mixins.scss";
@import "./custom/keywords.scss";

.main-content {
    @import "./custom/components/grids.scss";
    @import "./custom/components/grids2.scss";
    @import "./custom/components/flex.scss";
}

@import "./custom/components/columns.scss";
@import "./custom/components/debuffs.scss";
@import "./custom/components/details.scss";
@import "./custom/components/figure.scss";
@import "./custom/components/markers.scss";
@import "./custom/components/mechanics.scss";
@import "./custom/components/next.scss";
@import "./custom/components/povs.scss";
@import "./custom/components/timeline.scss";

hr {
    clear: both;
    width: 100%;
}

.clear, h1, h2, h3, h4, h5, h6 {
    clear: both;
}

.flex-vertical-center {
    display: flex;
    align-items: center;
}

.buff-title {
    display: flex;
    align-items: center;
    gap: 0.25em;

    &.center {
        justify-content: center;
    }
}

.title {
    font-weight: bold;
    text-align: center;

    + h1 {
        margin-top: 1rem;
    }

    // Allows subtitles by adding em text under the title.
    + p:has(> em:only-child) {
        text-align: center;
        margin-top: -$sp-2;

        + h1 {
            margin-top: 1rem;
        }
    }
}

.center {
    margin: auto;
}

.demphasize {
    font-style: italic;
    color: #AAA;
    font-size: 0.8em;
}

.min-content {
    min-width: fit-content;
}

dl {
    grid-template: auto / auto auto !important;
}

dl.compact {
    margin: 0;

    > * {
        margin-top: 0;
        margin-bottom: 0;
    }
}

.fights > li {
    margin-bottom: 1rem;
}

img.shade, .img-shadow img {
    @include img-shading;
}

.fade-sides {
    // position: relative;

    // &::after {
    //     content: "";
    //     display: block;
    //     position: absolute;
    //     width: 100%;
    //     aspect-ratio: 1/1;
    //     font-size: 50%;
    //     //box-shadow: 0px 0px 1em 1em $table-background-color inset;
    //     background:
    //     linear-gradient(0deg, $table-background-color, transparent 3%, transparent 97%, $table-background-color),
    //     linear-gradient(0deg, $table-background-color, transparent 2%, transparent 98%, $table-background-color),
    //     linear-gradient(90deg, $table-background-color, transparent 3%, transparent 97%, $table-background-color),
    //     linear-gradient(90deg, $table-background-color, transparent 2%, transparent 98%, $table-background-color),
    // }
}

.floating-image {
    width: max(33%, 9rem);

    &.float-left {
        margin-right: 2em;
    }

    &.float-right {
        margin-left: 2em;
    }

    &:is(blockquote) {
        @include blockquote-reset;
    }

    > * {
        margin-bottom: 0;
        &:not(:first-child) {
            margin-top: 0;
        }
    }
}

.half-width {
    width: 50%;
    margin: auto;
}

.third-width {
    width: 33%;
    margin: auto;
}

.two-thirds-width {
    width: 66%;
    margin: auto;
}

.quarter-width {
    width: 25%;
    margin: auto;
}

.even-line {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    gap: 1rem;
    padding: 1rem 0;
}

.paired {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    > * {
        width: 50%;
        display: inline;
    }

    &.gap > * {
        padding: 0.2rem;
    }
}

.min-medium {
    min-width: 15rem;
}
.min-small {
    min-width: 7rem;
}

@media(width >= 740px) {
    .md-float-right {
        float: right;
    }
}

@media(width < 500px) {
    .sm-clear {
        clear: both;
    }
}


@media(width < 740px) {
    .md-float-right {
        float: right;
    }

    .md-clear {
        clear: both;
    }
}


@media(width < 1120px) {
    .lg-float-right {
        float: right;
    }

    .lg-clear {
        clear: both;
    }
}

img {
    max-height: 100%;
}

// Fixes names which are slightly too long to avoid wrapping.
@media (min-width: 50rem) {
    .nav-list .nav-list-item .nav-list-link {
        text-wrap: nowrap;
    }
}

.lh-wide {
    line-height: 2;
}

// @include small-screen-classes(".center-") {
//     width: fit-content;
//     margin: auto;
//     align-items: center;
// }
