@import "./custom/mixins.scss";
@import "./custom/keywords.scss";

@import "./custom/components/debuffs.scss";
@import "./custom/components/markers.scss";
@import "./custom/components/casts.scss";
@import "./custom/components/mechanics.scss";
@import "./custom/components/timeline.scss";
@import "./custom/components/details.scss";
@import "./custom/components/next.scss";

.buff-title {
    display: flex;
    align-items: center;
    gap: 0.25em;

    &.center {
        justify-content: center;
    }
}

.title {
    font-weight: bold;
    text-align: center;

    + h1 {
        margin-top: 1rem;
    }
}

.demphasize {
    font-style: italic;
    color: #AAA;
    font-size: 0.8em;
}

dl.compact {
    margin: 0;

    > * {
        margin-top: 0;
        margin-bottom: 0;
    }
}

.fade-sides {
    position: relative;

    &::after {
        content: "";
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        box-shadow: 0px 0px 2px 5px $table-background-color inset;
    }
}

.floating-image {
    width: 33%;

    &.float-left {
        margin-right: 2em;
    }

    &.float-right {
        margin-left: 2em;
    }
}
