<style>
.construction {
    text-align: center;
    border-radius: 0.5rem;
    overflow: hidden;
    background-color: yellow;
    color: black;

    box-shadow:
        0 0px 2px rgba(0, 0, 0, 0.12),
        0 0px 10px rgba(0, 0, 0, 0.08);

    div {
        height: 1rem;
        background: repeating-linear-gradient(
            45deg,
            black,
            black 10px,
            yellow 10px,
            yellow 20px
        );
    }

    h1 {
        color: black;
        margin-top: 0 !important;
        margin-bottom: 0 !important;
        font-weight: bold;
    }

    em {
        margin-top: 0.1em !important;
        font-size: 0.8em;
    }
}
</style>
<div class="construction">
    <div></div>
    <h1>Under Construction</h1>
    <em>Send me your 90s website construction gifs</em>
    <div></div>
</div>