dl.casts {
    grid-template: auto / auto auto;
    row-gap: 0.5em;
    column-gap: 1em;

    > dt, > dd {
        margin: 0;
    }

    > dt {
        margin-left: 1em;
    }

    dt.or + dd + dt::before {
        content: "OR";
        float: left;
        position: relative;
        left: -1em;
        top: -1em;
    }

    dt.or, dt.or + dd {
        margin-top: 0.25em;
        margin-bottom: -0.25em;
    }

    dt.or + dd + dt, dt.or + dd + dt + dd {
        margin-bottom: 0.25em;
    }
}
