.debuffs {
    @include box-shading;
}

details.debuffs > summary {
    margin: 2px !important;
    padding: $sp-2 $sp-3;

    background-color: $table-background-color;
    border-bottom: $border rgba($border-color, 0.5);
}

div.debuffs, details.debuffs > div {
    display: grid;
    grid-template-columns: 1fr 4fr;
    padding: 0 2px 2px 2px;
    column-gap: 2px;
    row-gap: 2px;

    > * {
        margin: 0 !important;
        padding: $sp-2 $sp-3;

        background-color: $table-background-color;
        border-bottom: $border rgba($border-color, 0.5);
        border-left: $border $border-color;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    // Images are always the first column.
    > p:has(:first-child:is(img)) {
        border-left: 0;
    }

    > :last-child, > :nth-last-child(2) {
        border-bottom: 0;
    }
}
