.flex-row {
    flex-direction: row;
}

.column-flex {
    display: flex;
    flex-direction: row;
    width: 100%;

    > * {
        @include blockquote-reset;
        flex: auto;
    }

    &.even > * {
        flex: 1;
    }

    &.dividers {
        > * { padding: 0 1rem; }
        > :first-child { padding-left: 0; }
        > :last-child { padding-right: 0; }

        > :not(:first-child) {
            border-left: $border $border-color;
        }

        @include small-screen-classes {
            > * { padding: 1rem 0; }
            > :first-child { padding-top: 0; }
            > :last-child { padding-bottom: 0; }

            > :not(:first-child) {
                border-top: $border $border-color;
                border-left: 0;
            }
        }
    }

    @include small-screen-classes {
        flex-direction: column;
    }
}
