.flex-row {
    flex-direction: row;
    width: 100%;

    &.even > * {
        flex: 1;
        width: 0;
    }
}

.column-flex {
    display: flex;
    flex-direction: row;
    width: 100%;

    @include blockquote-reset;

    > * {
        @include blockquote-reset;
        flex: auto;
        min-width: 0;
    }

    &.even > * {
        flex: 1;
    }

    > hr {
        flex: 0 0 1px !important;
        width: auto !important;
        height: auto !important;
        align-self: stretch;
        margin: 0 1rem;
    }

    @include small-screen-classes {
        flex-direction: column;
        align-items: center;

        > * { width: fit-content; }
        > hr { margin: 1rem 0; }
    }
}

.centered-flex {
    display: flex;
    flex-direction: column;
    align-items: center;

    p {
        margin: 0.5rem 0;
    }
}
