details.markers {
    @include box-shading;

    padding: 0.5rem;
    margin-bottom: 1em;

    overflow: hidden;
    border-radius: 0.2rem;
    border: 1px solid #080810;
    background-color: #181820;

    > summary {
        background-color: #0C0C18;
        margin: -0.5rem;
        padding: $sp-2 $sp-3;
    }

    &[open] > summary {
        @include box-shading;
        margin-bottom: 0.5rem;
    }

    > :last-child {
        margin-bottom: 0;
    }

    > div:has(code) {
        line-height: 1;
    }

    .summary {
        display: grid;
        grid-template-columns: 3fr 1fr;
        gap: 0.5rem;

        > blockquote {
            @include blockquote-reset;
        }

        > * {
            margin: 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
    }
}
