.mechanics {
    @include box-shading;

    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2px 2px 2px;
    column-gap: 2px;
    row-gap: 2px;

    > * {
        margin: 0 !important;
        padding: $sp-2 $sp-3;

        background-color: $table-background-color;
        border-bottom: $border rgba($border-color, 0.5);
        border-left: $border $border-color;

        &:is(blockquote) {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
    }

    // First Column (strategies)
    > :nth-child(odd) {
        border-left: 0;
    }

    // Images
    > :nth-child(even) {
        padding: 0;
    }

    // Last Rows
    > :last-child, > :nth-last-child(2) {
        border-bottom: 0;
    }
}
