@mixin mechanics-grid {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2px 2px 2px;
    column-gap: 2px;
    row-gap: 2px;

    > *:not(details) {
        margin: 0;
        padding: $sp-2 $sp-3;

        background-color: $table-background-color;
        border-bottom: $border rgba($border-color, 0.5);
        border-left: $border $border-color;

        &:is(blockquote) {
            display: flex;
            flex-direction: column;
            justify-content: center;

            > h1, h2, h3, h4, h5, h6 {
                align-self: center;
                margin-bottom: 2rem;
            }
        }
    }

    // First Column (strategies) sometimes has an image.
    > blockquote, > :first-child, > details.more {
        border-left: 0;
    }

    // Images
    > p:has(:first-child:is(img)) {
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    // Last Rows
    > :last-child, > :nth-last-child(2):not(:has(+.full-width)) {
        border-bottom: 0;
    }
}

.mechanics {
    @include box-shading;
    @include mechanics-grid;

    .full-width {
        grid-column: 1 / span 2;
    }

    > details.more {
        grid-column: 1 / span 2;
        display: grid;
        grid-template-columns: subgrid;
        background-color: inherit;
    }

    > details.more, &:is(details) {
        > summary {
            margin-bottom: 0;
            padding: $sp-2 $sp-3;

            background-color: $table-background-color;
            border-bottom: 0;
            border-left: 0;
        }

        &[open] {
            > summary {
                margin-bottom: 2px;
                border-bottom: $border rgba($border-color, 0.5) !important;
            }
        }

        > div {
            background-color: inherit;
            padding: 0 !important;
            border-left: 0 !important;

            @include mechanics-grid;
        }
    }
}
