details.povs {
    padding: 0 2px 2px 2px;

    > summary {
        @include box-shading;

        margin-bottom: 0;
        padding: $sp-2 $sp-3;

        background-color: rgb(39, 39, 53);
        border: 1px solid rgb(26, 26, 49);
        border-radius: 0.2rem;
    }

    &[open] > summary {
        // margin-bottom: 2px;
    }

    > div {
        blockquote {
            @include blockquote-reset;
        }

        > * {
            @include box-shading;

            padding: $sp-2 $sp-3 !important;
            // margin-bottom: 2px !important;

            overflow: hidden;
            border-radius: 0.2rem;
            border: 1px solid rgb(26, 26, 49) !important;
            background-color: rgb(39, 39, 53);

            iframe {
                width: 100%;
                height: auto;
                aspect-ratio: 16 / 9;
            }
        }
    }
}
