.timeline {
    display: grid;
    padding: 0 2px 2px 2px;
    gap: 1rem;

    grid-auto-columns: 1fr;
    grid-template-rows: auto;

    > * {
        @include blockquote-reset;
        @include box-shading;

        display: grid;
        grid-auto-rows: subgrid;
        grid-row-start: 1;
        row-gap: 2px;

        > * {
            margin: 0 !important;
            padding: 0;

            background-color: $table-background-color;
            border-bottom: $border rgba($border-color, 0.5);

            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            &:first-child {
                padding: $sp-2 $sp-3;
            }

            &:last-child {
                border-bottom: 0;
            }
        }
    }

    &.collapse {
        > * {
            grid-row-start: auto;
            grid-column-start: 1;
        }
    }

    &.collapse-sm {
        @media(width < 500px) {
            > * {
                grid-row-start: auto;
                grid-column-start: 1;
            }
        }
    }

    &.collapse-md {
        @media(width < 740px) {
            > * {
                grid-row-start: auto;
                grid-column-start: 1;
            }
        }
    }

    &.collapse-lg {
        @media(width < 1120px) {
            > * {
                grid-row-start: auto;
                grid-column-start: 1;
            }
        }
    }
}
